.nav{
    width: 100%;
    height: 5vh;
    font-family: 'Lora', serif;
    color: white;
    background-color: #111111;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    overflow: hidden;

}

.left{
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.icon{
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.left_info{
    font-size: 15px;
    margin-left: 5px;

}

.image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;

}

.center{
    flex:6
}

.list{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: italic;
    font-weight: 500;
}

.list_item{
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.list_pipe{
    margin-right: 10px;
    font-size: 18px;
    font-weight: 300;
}

.search_icon{
    font-size: 18px;
    cursor: pointer;
}

.right{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .logout{
    font-style: italic;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
  }

  .login{
    margin-left: 20px;
  }
